$roboto-font: "Roboto", sans-serif;

/* variables para espaciado como: (Padding, Margin, Gap, Width, Height, etc.) */
$space-1: 0.125rem;
$space-2: 0.25rem;
$space-3: 0.375rem;
$space-4: 0.5rem;
$space-5: 0.625rem;
$space-6: 0.75rem;
$space-7: 0.875rem;
$space-8: 1rem;
$space-9: 1.25rem;
$space-10: 1.5rem;
$space-11: 1.75rem;
$space-12: 2rem;
$space-13: 2.75rem;
$space-14: 3rem;
$space-15: 3.5rem;
$space-16: 4rem;
$space-17: 5rem;
$space-18: 6rem;
$space-19: 7rem;
$space-20: 8rem;
$space-21: 9rem;
$space-22: 10rem;

/* Variables para tamaño de fuente (font-size y line-height) */
$text-size-xs: 0.75rem;
$text-size-sm: 0.875rem;
$text-size-base: 1rem;
$text-size-bt: 1.125rem;
$text-size-xl: 1.25rem;
$text-size-2xl: 1.5rem;
$text-size-3xl: 1.875rem;
$text-size-4xl: 2.25rem;
$text-size-5xl: 3rem;
$text-size-6xl: 3.75rem;
$text-size-7xl: 4.5rem;
$text-size-8xl: 6rem;
$text-size-9xl: 8rem;

/* Variables para los colores */
$color-one: #fbf8f7;
$color-two: #fefeff;
$color-three: #bcbcbb;
$color-four: #f3805e;
$color-five: #403d38;
$color-six: #aeafaf;
$color-seven: #f15728;
$color-eight: #e4e4e5;
$color-nine: #f3f3f3;
$color-ten: #e5e5e5;

/* Variables para breakpont */
$br-tablet: 768px;
$br-tablet-horinzontal: 1024px;
$br-desktop: 1440px;

/* variables de fuentes */
$normal-font: "Poppins", "serif";
$title-font: "Montserrat", "sans-serif";
